*{
  font-family:'Bitter', Times, Serif;
}
h1,h2{
  margin:1em auto;
}
h3,h4,p{
  margin:10px auto;
}
body{
  color:black;
  background: -webkit-linear-gradient(
    rgba(152,0,15,0.45),
    rgba(143, 52, 1,0.45),
    rgba(135, 110, 1, 0.45),
    rgba(143, 52, 1,0.45),
    rgba(152,0,15,0.45)),
  url('../assets/images/symphony.png')repeat;
  background: -o-linear-gradient(
    rgba(152,0,15,0.45),
    rgba(143, 52, 1,0.45),
    rgba(135, 110, 1, 0.45),
    rgba(143, 52, 1,0.45),
    rgba(152,0,15,0.45)),
  url('../assets/images/symphony.png')repeat;
  background: -moz-linear-gradient(
    rgba(152,0,15,0.45),
    rgba(143, 52, 1,0.45),
    rgba(135, 110, 1, 0.45),
    rgba(143, 52, 1,0.45),
    rgba(152,0,15,0.45)),
  url('../assets/images/symphony.png')repeat;
  background: linear-gradient(
    rgba(152,0,15,0.45),
    rgba(143, 52, 1,0.45),
    rgba(135, 110, 1, 0.45),
    rgba(143, 52, 1,0.45),
    rgba(152,0,15,0.45)),
  url('../assets/images/symphony.png')repeat;
  /*background pattern from subtlepatterns.com*//* Standard syntax */
}
.main-info-row .columns{
  background: -webkit-linear-gradient(
    rgba(152,0,15,0.75),
    rgba(143, 52, 1,0.75));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-row .columns{
  background: -webkit-linear-gradient(
    rgba(143, 52, 1,0.75),
    rgba(143, 52, 1,0.75)),
  url('../assets/images/symphony.png')repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*.map-row .columns{
  background: -webkit-linear-gradient(
    rgba(135, 110, 1,0.75),
    rgba(143, 52, 1,0.75)),
  url('../assets/images/symphony.png')repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}*/
/*.contact-row .columns{
  background: -webkit-linear-gradient(
    rgba(143, 52, 1,0.75),
    rgba(152,0,15,0.75)),
  url('../assets/images/symphony.png')repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}*/
header{
  text-align: center;
}
#main-logo{
  width:80%;
}
.main-info{
  margin:20px auto;
}
.main-info h3,
.main-info p{
  display:inline;
}
.cheers{
  font-family: "Rock salt", serif;
  text-align: right;
  padding-right:2em;
  font-size:1.4em;
}
.gallery{
  text-align: center;
}
.bump{
  margin:2rem auto;
}
.pic{
  display:inline-block;
  width:275px;
  height:275px;
	border-radius: 50%;
  margin:0 1%;
	cursor: default;
  position:relative;
  background-size: cover;
  background-position: center;
	box-shadow:
		inset 0 0 0 0 rgba(200,95,66, 0.4),
		inset 0 0 0 16px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
    -webkit-filter: sepia(0.6);
    filter: sepia(0.6);
}
.ch-info {
	position: absolute;
  top:30%;
	width: 100%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
	backface-visibility: hidden;
}
.ch-info h3 {
	color: #000;
	text-transform: uppercase;
  background:rgba(255,255,255,0.3);
	position: relative;
	letter-spacing: 2px;
	font-size: 20px;
	margin: 0 30px;
	font-family: 'Rye', Arial, sans-serif;
	text-shadow:
		0 0 1px #fff,
		0 1px 2px rgba(0,0,0,0.3);
}
.ch-info p {
  padding: 10px 5px;
  margin: 0 30px;
  font-size: 20px;
  color:black;
  background:rgba(255,255,255,0.7);
  font-family:'Bitter',serif;
}
.pic:hover{
  -webkit-filter: sepia(0);
  filter: sepia(0);
}
.pic:hover .ch-info {
    opacity: 1;
    transform: scale(1);
}
#map{
  height:500px;
  width:100%;
}
#mapAll{
  float:right;
  cursor:pointer;
}
#locations{
  width:100%;
  height:500px;
  overflow-y: scroll;
  list-style: none;
}
#locations li p{
  margin:0;
  text-align: center;
}
#locations li p:first-of-type{
  font-size:1.4em;
}
#locations li{
  width:100%;
  min-height:120px;
  padding:0.5em;
  margin:0;
  background:rgba(255,255,255,0.4)
}
#locations li:nth-child(even){
  background:rgba(200,200,200,0.4)
}
#locations div{
  position:relative;
  height:120px;
  width:120px;
  float:left;
  border-radius:5px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.marker{
  border-radius:50%;
  background-image: url('../assets/images/moblogo.png');
  background-color:#030303;
  background-size: cover;
  background-position: center;
  opacity:0.75;
}
.cluster{
  border-radius:50%;
  background-color:#fff;
  border:2px solid #030303;
  color:black;
  opacity:0.75;
  padding-top:5px;
  text-align:center;
  font-size:1.2em;
  font-family:"Bitter",serif;
}

input,textarea{
  width:100%;
}


footer{
  text-align:center;
}
footer img{
  vertical-align: middle;
  height:60px;
}


.navbar-absolute {
  bottom: 0;
  left:0;
  position: absolute;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.7);
}
.navbar-fixed {
  top: 0;
  left:0;
  position: fixed;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.98);
}
.nav-active {
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: inset 0px -2px 0px 0px red;
}
.mainNav {
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 10;
  width: 100%;
  /*overflow: hidden;*/
}
.mainNav ul {
  text-align: center;
  margin: 0;
  padding: 0;
}
.mainNav li {
  display: inline-block;
  width: auto;
  height: 40px;
  text-align: center;
}
.mainNav li:hover {
  transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);
  /*box-shadow: inset 0px -2px 0px 0px red;*/
}
.mainNav a {
  display: block;
  padding:0.6em;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}
