*{
  font-family:'Bitter', Times, Serif;
  font-size: 16px;
}
body{
  background: -webkit-linear-gradient(
    rgba(152,0,15,0.45),
    rgba(143, 52, 1,0.45),
    rgba(135, 110, 1, 0.45),
    rgba(143, 52, 1,0.45),
    rgba(152,0,15,0.45)),
  url('../assets/images/symphony.png')repeat;
  background: -o-linear-gradient(
    rgba(152,0,15,0.45),
    rgba(143, 52, 1,0.45),
    rgba(135, 110, 1, 0.45),
    rgba(143, 52, 1,0.45),
    rgba(152,0,15,0.45)),
  url('../assets/images/symphony.png')repeat;
  background: -moz-linear-gradient(
    rgba(152,0,15,0.45),
    rgba(143, 52, 1,0.45),
    rgba(135, 110, 1, 0.45),
    rgba(143, 52, 1,0.45),
    rgba(152,0,15,0.45)),
  url('../assets/images/symphony.png')repeat;
  background: linear-gradient(
    rgba(152,0,15,0.45),
    rgba(143, 52, 1,0.45),
    rgba(135, 110, 1, 0.45),
    rgba(143, 52, 1,0.45),
    rgba(152,0,15,0.45)),
  url('../assets/images/symphony.png')repeat;
  /*background pattern from subtlepatterns.com*//* Standard syntax */
}
.row{
  margin-bottom:2em;
}
.main-info{
  margin:20px auto;
}
.main-info h2{
  font-size:1.6em;
}
.main-info h2,
.main-info p{
  display:inline;
}
.pic{
  display:inline-block;
	width: 30%;
  min-width:275px;
	height: 100%;
  min-height:275px;
	border-radius: 50%;
  margin:0 1%;
	cursor: default;
  position:relative;
  background-size: cover;
  background-position: center;
	box-shadow:
		inset 0 0 0 0 rgba(200,95,66, 0.4),
		inset 0 0 0 16px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
    -webkit-filter: sepia(0.6);
    filter: sepia(0.6);
}
.ch-info {
	position: absolute;
  top:50%;
	width: 100%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
	backface-visibility: hidden;
}
.ch-info h3 {
	color: #000;
	text-transform: uppercase;
  background:rgba(255,255,255,0.3);
	position: relative;
	letter-spacing: 2px;
	font-size: 20px;
	margin: 0 30px;
	font-family: 'Rye', Arial, sans-serif;
	text-shadow:
		0 0 1px #fff,
		0 1px 2px rgba(0,0,0,0.3);
}
.ch-info p {
  padding: 10px 5px;
  margin: 0 30px;
  font-size: 20px;
  color:black;
  background:rgba(255,255,255,0.7);
  font-family:'Bitter',serif;
}
.pic:hover{
  -webkit-filter: sepia(0);
  filter: sepia(0);
}
#map{
  height:400px;
  width:50%;
}
