<!-- <div class="mainNav navbar-fixed">
  <a href="#Wild-Kombucha-Mobtown-Fermentation" class="toTop round"></a>
  <a href="#Wild-Kombucha" class="subNavBtn">Our Kombucha</a>
  <a href="#Mobtown-Fermentation" class="subNavBtn">Our Story</a>
  <a href="#Kombucha-Locations" class="subNavBtn">Locations</a>
  <a href="#Contact-Mobtown" class="subNavBtn">Contact Us</a>
  <a href="http://www.facebook.com/wildkombucha" target="_blank" id="fb" class="extLink round"></a>
  <a href="http://www.twitter.com/wildkombucha" target="_blank" id="twitter" class="extLink round"></a>
  <a href="http://www.instagram.com/wild_kombucha" target="_blank" id="instagram" class="extLink round"></a>
</div> -->

<!-- <nav class="mainNav navbar-absolute">
  <ul>
    <li><a href="#profile">Profile</a></li>
    <li><a href="#skills">Skills</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav> -->
<div class="mainNav navbar-absolute">
  <ul>
    <li><a href="#Wild-Kombucha-Mobtown-Fermentation">To Top</a></li>
    <li><a href="#Wild-Kombucha">Our Kombucha</a></li>
    <li><a href="#Mobtown-Fermentation">Our Story</a></li>
    <li><a href="#Kombucha-Locations">Locations</a></li>
    <li><a href="#Contact-Mobtown">Contact Us</a></li>
  </ul>
</div>
