<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="container">
      <div class="row full">
        <div class="row">
          {% include header.html %}
        </div>
      </div>
      <div class="row full">
        <div class="row">
          {% include navbar.html %}
        </div>
      </div>
      <div class="row full white">
        <div class="row main-info-row">
          {% include main_info.html %}
        </div>
      </div>
      <div class="row full">
        <div class="row">
          {% include gallery_pics.html %}
        </div>
      </div>
      <div class="row full white">
        <div class="row about-row">
          {% include about.html %}
        </div>
      </div>
      <div class="row full">
        <div class="row">
          {% include your_pics.html %}
        </div>
      </div>
      <div class="row full white">
        <div class="row map-row">
          {% include map.html %}
        </div>
      </div>
      <div class="row full">
        <div class="row">
          {% include history_pics.html %}
        </div>
      </div>
      <div class="row full white">
        <div class="row contact-row">
          {% include contact.html %}
        </div>
      </div>
      <div class="row full">
        <div class="row">
          {% include footer.html %}
        </div>
      </div>
    </div>
    {% include scripts.html %}
  </body>

</html>
