<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="container">
      <div class="row full" id="Wild-Kombucha-Mobtown-Fermentation">
        <div class="row">
          {% include header.html %}
        </div>
      </div>
      <div class="row full white" style="position:relative">
        <div class="row">
          {% include navbar.html %}
        </div>
      </div>
      <div class="row full" id="Wild-Kombucha">
        <div class="row main-info-row">
          {% include main_info.html %}
        </div>
      </div>
      <div class="row full bump white" id="gallery-pics">
        <div class="row gallery">
          {% include gallery_pics.html %}
        </div>
      </div>
      <div class="row full" id="Mobtown-Fermentation">
        <div class="row about-row">
          {% include about.html %}
        </div>
      </div>
      <div class="row full bump white">
        <div class="row gallery">
          {% include your_pics.html %}
        </div>
      </div>
      <div class="row full" id="Kombucha-Locations">
        <div class="row map-row">
          {% include map.html %}
        </div>
      </div>
      <div class="row full white">
        <div class="row gallery history">
          {% include history_pics.html %}
        </div>
      </div>
      <div class="row full" id="Contact-Mobtown">
        <div class="row contact-row">
          {% include contact.html %}
        </div>
      </div>
      <div class="row full">
        <div class="row">
          {% include footer.html %}
        </div>
      </div>
    </div>
    {% include scripts.html %}
  </body>

</html>
